# Ignore everything in the target folder except the .war file
target/*
!target/*.war

# Ignore the .git directory
.git

# Ignore any IDE or unnecessary configuration files
*.log
.idea
*.iml
*.DS_Store
*.class
